/* GENERAL############################################################ */

html { font-size: 1vw; }
body{
	font-family: "Lato", Helvetica, sans-serif;
	margin:0;
	padding:0;
	min-height: 300vh;
	background-color: #111;
	animation: body 1s linear;
}

.background {
	animation: scale 1s linear;
	position:absolute;
  }

  @keyframes body {
	to {
	  background-color: #ddd
	}
  }

  @keyframes scale {
	  to {
		  transform: translateY(-200rem);
		  
	  }
  } 

  @keyframes opacity {
	from {
		opacity:1;
	}
	to {
		opacity: 0.1;
		
	}
} 
		
/* POPUP ############################################################ */

.split {
	height: 70vh;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	
  }
  
  /* Control the left side */
  .left {
	left: 0;
	background-color: #111;
  }
  
  /* Control the right side */
  .right {
	right: 0;
	background-color: #111;
  }

/* NAVIGATION BAR ############################################################ */

.navbar {
	width: 100%;
	height: auto;
	background: rgba(49, 49, 49, 0.7);
	position: fixed;
	z-index: 2;
	backdrop-filter: blur(10px);
}

  
  .navbar a {
	float: left;
	padding: 10px;
	color: #ccc;
	text-decoration: none;
	font-size: 16px;
	width: 18%; /* six links of equal widths */
	text-align: center;
  }

  .navbar l {
	float: left;
	padding: 10px;
	color: #ccc;
	text-decoration: none;
	height: 20px;
	width: 12%; /* six links of equal widths */
	text-align: center;
  }
  
  .navbar a:hover {
	color: #fff;
  }
  
  .navbar a.active {
	color:#999
  }

  .navbar l:hover {
	color: #fff;
  }
  
  .navbar l.active {
	color:#999
  }


  
  @media screen and (max-width: 20cm) {
	.navbar a {
	  display: none;
	}
	.navbar l {
		float: left;
		padding: 10px;
		color: #ccc;
		text-decoration: none;
		height: 20px;
		width: 100%; /* six links of equal widths */
		text-align: center;
	  }
	}

	:root * {
		/* Pause the animation */
		animation-play-state: paused;
		/* Bind the animation to scroll */
		animation-delay: calc(var(--scroll) * -1s);
		/* These last 2 properites clean up overshoot weirdness */
		animation-iteration-count: 1;
		animation-fill-mode: both;
	  }